.flex {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.text-centered {
    text-align: center;
}

.row > article {
    display: flex;
    flex-direction: column;
}

.card {
    background-color: blanchedalmond;
    flex: 1;
    padding: 1rem 2rem;
}

.row:not(:last-child) {
    margin-bottom: 2rem;
}

ul.labeled-icons li a {
    padding: 13px 0;
}

@media screen and (max-width: 1800px) {

    /* .row > * {
        padding: 0 0 0 0;
        margin: 0 0 0 2.5em;
    } */
}